/* ex 1 */
.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover:hover{
    background-color: red;
}

/* ex 2 */
.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;
}

/* ex 3 */

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ex 4 */
.ex-4-square{
    animation: ex4 3s 2s infinite;
}

@keyframes ex4{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


.meme{
    z-index: 999;
    color: black;
    opacity: 0;
    animation: meme 3s 2s infinite;
}

@keyframes meme{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.3;
    }
    
    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}

