/* ex 1 */
.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover:hover{
    background-color: red;
}

/* ex 2 */
.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;
}

/* ex 3 */

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ex 4 */
.ex-4-square{
    animation: ex4 3s 2s infinite;
}

@keyframes ex4{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


.meme{
    color: black;
    opacity: 0;
    position: absolute;
    width: 100px;
    top: 50px;
    animation: meme 3s 2s infinite;
}

@keyframes meme{
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 0;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}


/* ex 5 */

.ex-5-square{
    transition: all 2s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 20px;
    height: 20px;
}

/* ex 6 */
.ex-6-img:hover{
    filter:grayscale(100%)
}

/* ex 7 */
.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover{
    filter:sepia(50%) grayscale(30%) blur(1px);
}

/* ex 8 */
.ex-8-img{
    transition: all 3s;
}

.ex-8-img:hover{
    border-radius: 50%;
    filter:brightness(1.5) saturate(1.5);
}

/* ex 9 */